a {
    text-decoration: none;
}

#project_1 {
    padding : 5% 5%;
    margin : 10% 0;
}
#project_2 {
    padding : 5% 5%;
    margin : 10% 0;
}
#project_3 {
    padding : 3% 5%;
    margin : 10% 0;
}

.img {
    margin : 5px;
}
.img-box {
    margin : auto;
}

.address {
    font-size : 18px;
    color:black;
}

.iconimg:hover {
    transform: rotate( 45deg );
}
/* INPUT 가리기 */
.sectiondiv [id*="slide"] {
    display: none;
}

/* 슬라이드 영역 - max-width 크기를 조절해주면 됩니다*/
.sectiondiv .slidewrap {
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
}
